@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
input:focus-visible,
details > summary:focus,
button:focus,
select:focus {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-inner {
  padding: 0 14.375%;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  height: 75px;
  font-size: 26px;
  font-weight: 100;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right > a {
  display: block;
  margin-right: 33px;
}

.header__icon {
  color: white;
  font-size: 26px;
  font-weight: 100;
}

.header__search-button {
  margin-left: 40px;
}

.logo {
  display: block;
}

.cart-icon {
  position: relative;
}

.cart-icon__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #f16d7f;
  position: absolute;
  width: 19px;
  height: 19px;
  top: -9px;
  right: -9px;
  font-size: 12px;
  line-height: 14px;
  color: white;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1e4e6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__img {
  max-width: 800px;
  min-width: 386px;
  width: 100%;
}

.banner__wrapper {
  margin: 0 6.25% 6.25% 3.75%;
  border-left: 12px solid #f16d7f;
  padding-left: 15px;
}

.banner__brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 43px;
  text-transform: uppercase;
  color: #222222;
}

.banner__description {
  font-size: 32px;
  text-transform: uppercase;
}

.banner__description > span {
  color: #f16d7f;
}

.advantages {
  padding: 6.5% 0;
  background: #222224;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.advantages__item:last-of-type {
  margin-right: 0;
}

.advantages__icon {
  margin-bottom: 20px;
}

.advantages__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #fbfbfb;
  margin-bottom: 15px;
}

.advantages__description {
  text-align: center;
}

.testimonial-subscribe-block {
  background-image: url(../images/subscription/subscription-back.jpg);
  background-size: fill;
  background-position-y: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
  position: relative;
}

.testimonial-subscribe-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  z-index: 0;
}

.testimonial-subscribe-block__item {
  text-align: center;
  max-width: 360px;
}

.testimonial-subscribe-block__item_left {
  padding-right: 25px;
  z-index: 1;
}

.testimonial-subscribe-block__item_right {
  padding-left: 25px;
  min-width: 270px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  z-index: 1;
}

.testimonial {
  color: #222224;
}

.testimonial__photo {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 25px;
}

.testimonial__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.testimonial__text > span {
  font-style: italic;
}

.subscribe-form {
  max-width: 356px;
}

.subscribe-form__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 5px;
}

.subscribe-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__description {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.subscribe-form__input {
  height: 50px;
  -ms-flex-preferred-size: 256px;
      flex-basis: 256px;
  border: none;
  background: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 22px;
}

.subscribe-form__button {
  background: #f16d7f;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 50px;
  border: none;
  border-radius: 0 23px 23px 0;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.subscribe-form__button:hover {
  background-color: white;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

@media (max-width: 768px) {
  .cart-icon,
  .user-icon {
    display: none !important;
  }
  .header__right > a {
    margin-right: 0px;
  }
  .container-inner {
    padding: 0 16px;
  }
  .banner__img {
    min-width: 200px;
  }
  .banner__wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .banner__brand {
    font-size: 37px;
  }
  .banner__description {
    font-size: 24px;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 48px 0;
  }
  .advantages__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 360px;
  }
  .advantages__item {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .advantages__item:last-of-type {
    margin-bottom: 0;
  }
  .testimonial-subscribe-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    padding-bottom: 140px;
  }
  .testimonial-subscribe-block__item_left {
    padding-right: 0;
  }
  .testimonial-subscribe-block__item_right {
    padding-left: 0;
    margin-top: 50px;
  }
}

@media (max-width: 580px) {
  .banner__img {
    display: none;
  }
  .banner__wrapper {
    height: 70px;
    margin: 148px auto;
  }
  .banner__description {
    font-size: 20px;
  }
  .testimonial-subscribe-block {
    padding-bottom: 110px;
  }
}
/*# sourceMappingURL=style.css.map */